/*----------------------------------------------Fonts*/

@import url('https://fonts.googleapis.com/css?family=Suranna:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700');

header {
    margin: 0;
    background-color: #a7bdbf;
}

.logo {
    background: url("../images/logo.png");
    background-position: center;
    margin-left: 25px;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 180px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}