/*----------------------------------------------Fonts*/

@import url('https://fonts.googleapis.com/css?family=Lora:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700');

/*----------------------------------------------Colors*/

/*off-white color: #fafafa
olive color: #63757A
light teal color: #a7bdbf*/

.navbar-light .nav-item.active .nav-link {
    color: #3f3f63;
}

#navbarDropdown {
    color: #3f3f63;
}

.dropdown-menu {
    background-color: #fafafa;
}

.dropdown-item {
    color: #3f3f63;
}



/*----------------------------------------------Header*/

header {
    margin: 0;
    background-color: #a7bdbf;
}

.logo {
    background: url("../images/logo.png");
    background-position: center;
    margin-left: 25px;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 180px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

/*----------------------------------------------Navigation*/

.navbar {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.dropdown-menu {
    border: none;
    background-color: transparent;
}

.dropdown-item {
    font-weight: 300;
}

.navbar-toggler {
    border: none;
}

/*--------------------------------------------------------Body*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fcfcfc;
}

.index-first-section {
    padding-right: 25px;
}

.index-second-section {
    padding-top: 15px;
}

.main-content-text {
    padding: 25px;
}

#privacy-policy-wording {
    margin: 25px;
}

.privacy-policy-links {
    color: #3f3f63;
}

.website-links {
    color: #8fc5cb;
}

.img-fluid {
     padding: 10px;   
}

.quote-icons {
    max-height: 50px;
    max-width: 50px;
}

.card-deck {
    padding: 15px;
}

.testimonial-cards-olive {
    background-color: #F5F6F2;
    color: #3f3f63;
    border: none;
}

.testimonial-cards-rose {
    background-color: #F1F0F5;
    color: #3f3f63;
    border: none;
}

.caption-text {
    padding-top: 25px;
}

.card-magda {
    color: #3f3f63;
    background-color: #F5F6F2;
}

.card-christian {
    color: #3f3f63;
    background-color: #F1F0F5;
}

.card-outer {
    padding: 0;
}

.card-inner-padding {
    padding: 25px;
}

.card-links {
    color: #3f3f63;
}

.why-us-bullets {
    min-height: 25px;
    padding-top: 15px;
}

.collapse-bullets-one {
    font-size: 13px;
    color: #3f3f63;
    background-color: #F5F6F2;
}

.collapse-bullets-two {
    font-size: 13px;
    color: #3f3f63;
    background-color: #F1F0F5;
}

.psychotherapy-call-out-section {
    background-color: #F1F0F5;
    padding: 25px;
}

.psychotherapy-call-out-image {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul {
    list-style-type: none;
}

/*--------------------------------------------------------Form*/

.newsletter-signup {
    min-height: 75px;
    text-align: center;
    padding: 30px;
    background-color: #F1F0F5;
    color: #3f3f63;
}

#first-name {
    margin: 5px;
    text-align: center;
}

#last-name {
    margin: 5px;
    text-align: center;
}

#email-address {
    margin: 5px;
    text-align: center;
}

#submit-button {
    margin: 5px;
    background-color: #3f3f63;
    border-color: #6c757d;
    color: #fafafa;
}

/*----------------------------------------------Footer*/

footer {
    margin: 0;
    background-color: #8fc5cb;
    min-height: 180px;
}

.social-media-icons li a i {
    color: #fafafa;
    padding: 15px;
}


.footer-address {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #fafafa;
    margin: auto 0;
    padding: 0;
}

.footer-address address a {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #fafafa;
    margin: auto 0;
    padding: 0;
}

.footer-logo {
    background: url("../images/footer-logo.png");
    background-position: center;
    padding: 15px 25px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height:100px;
    margin-bottom: 10px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.aphp-logo {
    background: url("../images/aphp-logo.png");
    background-position: center;
    padding: 15px 25px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height:100px;
    margin-bottom: 10px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.nrpc-logo {
    background: url("../images/nrpc-logo.png");
    background-position: center;
    padding: 15px 25px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height:100px;
    margin-bottom: 10px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.privacy-policy a {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #fafafa;
}

.privacy-table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1.5px solid #a7bdbf;
    margin: 10px;
}

.privacy-data {
    border: 1.5px solid #a7bdbf;
    padding: 10px 5px;
    text-align: center;
}

/*----------------------------------------------Hover*/

#submit-button:hover {
    background-color: #e7edeb;
    border-color: #fafafa;
    color: #3f3f63;
    font-weight: 600;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}

.navbar-light .nav-item.active .nav-link:hover {
    text-decoration: none;
    color: #e7edeb;
}

#navbarDropdown:hover {
    color: #e7edeb;
}

.dropdown-item:hover {
    background-color: transparent;
    color: #e7edeb;
}

.footer-address address a:hover {
    text-decoration: none;
    color: #3f3f63;
}

.social-media-icons li a i:hover {
    text-decoration: none;
    color: #3f3f63;
}

.privacy-policy a:hover {
    text-decoration: none;
    color: #3f3f63;
}

.privacy-policy-links:hover {
    text-decoration: none;
    color: #8fc5cb;
}

.website-links:hover {
    text-decoration: none;
    color: #3f3f63;
}

.img-fluid:hover {
    filter: grayscale(75%);
    cursor: pointer;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}

.card-links:hover {
    text-decoration: none;
    color: #8fc5cb;
}

.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(143, 197, 203, 0.5);
  cursor: pointer;
  color: #3f3f63;
}


/*----------------------------------------------Media Queries*/

/* Small devices (under 576px */

@media (min-width: 0px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-toggler {
        position: relative;
        left: 50%;
        transform: translatex(-50%);
    }
    body {
        text-align: left;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .navbar-toggler {
        margin-top: 15px;
    }
    body {
        text-align: left;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width:768px) { 
    .navbar-toggler {
        position: static;
    }
    body {
        text-align: justify;
    }
}


