/*----------------------------------------------Fonts*/

@import url('https://fonts.googleapis.com/css?family=Suranna:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700');

header {
    margin: 0;
    color: #fafafa;
}

.logo {
    background: url("../images/balloon_bridge.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}